
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sign-up">
      <div class="div">
        <form action="../controller/registro_controller.php" method="post" enctype="multipart/form-data">
            <div class="sign-up-section">
            <div class="overlap">
                <div class="overlap-group">
                <img class="frame" src="img/clip-path-group-9"/>
                <div class="text-field">
                    <div class="text-field-2">
                    <div class="frame-2">
                        <div class="label">Usuario</div>
                        <div class="input-text"><input type="text" name="nickname" required></div> <!--aca un input-->
                    </div>
                    </div>
                </div>
                <div class="text-field-wrapper">
                    <div class="text-field-2">
                    <div class="frame-2">
                        <div class="label">Email</div>
                        <div class="input-text"><input type="email" name="email" required></div> <!--aca un input-->
                    </div>
                    </div>
                </div>
                <div class="text-field-3">
                    <div class="frame-wrapper">
                    <div class="frame-3">
                        <div class="label">Foto de Perfil</div>
                        <div class="input-text"><input type="file" name="img" accept="image/*"></div> <!--aca el input de la imagen-->
                    </div>
                    </div>
                    <div class="supporting-text">Seperti pada KTP/SIM/Paspor</div>
                </div>
                </div>
                <div class="text-wrapper">¡Bienvenido!</div>
            </div>
            <div class="text-field-4">
                <div class="text-field-2">
                <div class="frame-2">
                    <div class="label">Contraseña</div>
                    <div class="input-text"><input type="password" name="pass" required></div> <!--aca un input-->
                </div>
                <img class="eye-icon" src="img/eye-icon.svg" />
                </div>
                <div class="supporting-text">Minimo 8 caracteres</div>
            </div>
            <div class="text-wrapper-2">
              <label>Tipo:
              <select name="tipo" required>
                  <option value="cliente">Cliente</option>
                  <option value="organizador">Organizador</option>
              </select>
            </div>
            <div class="div-wrapper"><div class="text-wrapper-2"><button type="submit">Registrarse</button></div></div> <!--aca el boton-->
            <div class="group">
                <div class="lock"><img class="img" src="img/group-11.png" /></div>
                <p class="p">Continuando acepto los términos y condiciones de TicketLandia.</p>
            </div>
            </div>
        </form>
        <div class="web">
          <div class="overlap-2">
            <img class="clip-path-group" src="img/clip-path-group.png" />
            <img class="vector" src="img/vector-2.svg" />
            <img class="vector-2" src="img/image.svg" />
            <img class="clip-path-group-2" src="img/clip-path-group-3.png" />
            <img class="clip-path-group-3" src="img/clip-path-group-4.png" />
            <img class="vector-3" src="img/vector.svg" />
          </div>
          <div class="group-2"></div>
          <div class="group-3"></div>
          <div class="group-4"></div>
          <div class="group-5"></div>
          <div class="group-6"></div>
          <div class="group-7"></div>
          <div class="group-8"></div>
          <div class="group-9"></div>
          <div class="group-10"></div>
          <div class="group-11"></div>
        </div>
      </div>
    </div>
  </body>
</html>

