:root {
  --dark-blue-jeans: rgba(31, 86, 115, 1);
  --mustard-yellow: rgba(245, 210, 80, 1);
  --broken-white: rgba(248, 247, 243, 1);
  --not-really-black: rgba(35, 35, 35, 1);
  --dark-grey: rgba(103, 102, 102, 1);
  --grey: rgba(144, 144, 144, 1);
  --link-text-color: rgba(46, 134, 180, 1);
  --soft-grey: rgba(217, 217, 217, 1);
  --12-reg-font-family: "Poppins", Helvetica;
  --12-reg-font-weight: 400;
  --12-reg-font-size: 12px;
  --12-reg-letter-spacing: 0px;
  --12-reg-line-height: normal;
  --12-reg-font-style: normal;
  --12-med-font-family: "Poppins", Helvetica;
  --12-med-font-weight: 500;
  --12-med-font-size: 12px;
  --12-med-letter-spacing: 0px;
  --12-med-line-height: normal;
  --12-med-font-style: normal;
  --12-bold-font-family: "Poppins", Helvetica;
  --12-bold-font-weight: 700;
  --12-bold-font-size: 12px;
  --12-bold-letter-spacing: 0px;
  --12-bold-line-height: normal;
  --12-bold-font-style: normal;
  --16-reg-font-family: "Poppins", Helvetica;
  --16-reg-font-weight: 400;
  --16-reg-font-size: 16px;
  --16-reg-letter-spacing: 0px;
  --16-reg-line-height: normal;
  --16-reg-font-style: normal;
  --16-med-font-family: "Poppins", Helvetica;
  --16-med-font-weight: 500;
  --16-med-font-size: 16px;
  --16-med-letter-spacing: 0px;
  --16-med-line-height: normal;
  --16-med-font-style: normal;
  --16-bold-font-family: "Poppins", Helvetica;
  --16-bold-font-weight: 700;
  --16-bold-font-size: 16px;
  --16-bold-letter-spacing: 0px;
  --16-bold-line-height: normal;
  --16-bold-font-style: normal;
  --20-reg-font-family: "Poppins", Helvetica;
  --20-reg-font-weight: 400;
  --20-reg-font-size: 20px;
  --20-reg-letter-spacing: 0px;
  --20-reg-line-height: normal;
  --20-reg-font-style: normal;
  --20-med-font-family: "Poppins", Helvetica;
  --20-med-font-weight: 500;
  --20-med-font-size: 20px;
  --20-med-letter-spacing: 0px;
  --20-med-line-height: normal;
  --20-med-font-style: normal;
  --20-bold-font-family: "Poppins", Helvetica;
  --20-bold-font-weight: 700;
  --20-bold-font-size: 20px;
  --20-bold-letter-spacing: 0px;
  --20-bold-line-height: normal;
  --20-bold-font-style: normal;
  --24-bold-font-family: "Poppins", Helvetica;
  --24-bold-font-weight: 700;
  --24-bold-font-size: 24px;
  --24-bold-letter-spacing: 0px;
  --24-bold-line-height: normal;
  --24-bold-font-style: normal;
}

:root {
  --dark-blue-jeans: rgba(31, 86, 115, 1);
  --mustard-yellow: rgba(245, 210, 80, 1);
  --broken-white: rgba(248, 247, 243, 1);
  --not-really-black: rgba(35, 35, 35, 1);
  --dark-grey: rgba(103, 102, 102, 1);
  --grey: rgba(144, 144, 144, 1);
  --link-text-color: rgba(46, 134, 180, 1);
  --soft-grey: rgba(217, 217, 217, 1);
  --12-reg-font-family: "Poppins", Helvetica;
  --12-reg-font-weight: 400;
  --12-reg-font-size: 12px;
  --12-reg-letter-spacing: 0px;
  --12-reg-line-height: normal;
  --12-reg-font-style: normal;
  --12-med-font-family: "Poppins", Helvetica;
  --12-med-font-weight: 500;
  --12-med-font-size: 12px;
  --12-med-letter-spacing: 0px;
  --12-med-line-height: normal;
  --12-med-font-style: normal;
  --12-bold-font-family: "Poppins", Helvetica;
  --12-bold-font-weight: 700;
  --12-bold-font-size: 12px;
  --12-bold-letter-spacing: 0px;
  --12-bold-line-height: normal;
  --12-bold-font-style: normal;
  --16-reg-font-family: "Poppins", Helvetica;
  --16-reg-font-weight: 400;
  --16-reg-font-size: 16px;
  --16-reg-letter-spacing: 0px;
  --16-reg-line-height: normal;
  --16-reg-font-style: normal;
  --16-med-font-family: "Poppins", Helvetica;
  --16-med-font-weight: 500;
  --16-med-font-size: 16px;
  --16-med-letter-spacing: 0px;
  --16-med-line-height: normal;
  --16-med-font-style: normal;
  --16-bold-font-family: "Poppins", Helvetica;
  --16-bold-font-weight: 700;
  --16-bold-font-size: 16px;
  --16-bold-letter-spacing: 0px;
  --16-bold-line-height: normal;
  --16-bold-font-style: normal;
  --20-reg-font-family: "Poppins", Helvetica;
  --20-reg-font-weight: 400;
  --20-reg-font-size: 20px;
  --20-reg-letter-spacing: 0px;
  --20-reg-line-height: normal;
  --20-reg-font-style: normal;
  --20-med-font-family: "Poppins", Helvetica;
  --20-med-font-weight: 500;
  --20-med-font-size: 20px;
  --20-med-letter-spacing: 0px;
  --20-med-line-height: normal;
  --20-med-font-style: normal;
  --20-bold-font-family: "Poppins", Helvetica;
  --20-bold-font-weight: 700;
  --20-bold-font-size: 20px;
  --20-bold-letter-spacing: 0px;
  --20-bold-line-height: normal;
  --20-bold-font-style: normal;
  --24-bold-font-family: "Poppins", Helvetica;
  --24-bold-font-weight: 700;
  --24-bold-font-size: 24px;
  --24-bold-letter-spacing: 0px;
  --24-bold-line-height: normal;
  --24-bold-font-style: normal;
}
